@charset "UTF-8";
body{
    background-image: url(../images/p_background.jpg);
    background-size: cover;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.btn{
    width:200px;
    height:50px;
    border-radius: 25px;
}
a {
    color: #fFF;
    margin-top: 0px;
    text-decoration: none;
    font-size: 18px;
    display: block;
}

a:hover {
    color: #fff;
    text-decoration: underline;
    font-size: 18px;
}
a:visited {
    color: #fff;
    font-size: 18px;
}
/*整个tab层居中，宽度为600px*/
#tabDiv {
    width: 600px;
    margin: 1em auto;
    padding-bottom: 10px;
    border-right: 	#1E90FF 1px solid;
    border-top: 	#1E90FF 1px solid;
    border-left: 	#1E90FF 1px solid;
    border-bottom: 	#1E90FF 1px solid;
    background-color: #ffffff;
    border-radius: 22px;
    opacity:0.8;
}
/*tab头的样式*/
#tabsHead {
    padding-left: 0px;
    height: 40px;
    background-color: #1E90FF;
    font-size: 1em;
    margin: 0px 0px 0px;
    color: 	#1E90FF;
    line-height: 26px;
    border-radius: 20px;
}
/*已选tab头（超链接）的样式*/
.curtab {
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
    border-right: #b2c9d3 1px solid;
    font-weight: bold;
    float: left;
    cursor: pointer;
    background:	#4169E1;
    line-height: 40px;
    border-radius: 20px;
}
/*未选tab头（超链接）的样式*/
.tabs {
    border-right: #c1d8e0 1px solid;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
    font-weight: normal;
    float: left;
    cursor: pointer;
    background: #1E90FF;
    border-radius: 20px;
}
p {
    font-size: 12pt;
    font-family: 华文楷体;

}
li {
    border-bottom-style: solid;
    border-bottom-color: #EEE;
    border-bottom-width: thin;
    height: 25px;
    font-family: "宋体";
    font-size: 12pt;

}
